<a href="{% url 'products' %}" class="btn btn-outline-black rounded-0 btn-lg">
    <span class="icon">
        <i class="fas fa-chevron-left"></i>
    </span>
    <span class="text-uppercase">Keep Shopping</span>
</a>
<a href="{% url 'checkout' %}" class="btn btn-black rounded-0 btn-lg">
    <span class="text-uppercase">Secure Checkout</span>
    <span class="icon">
        <i class="fas fa-lock"></i>
    </span>
</a>

<p class="py-2 d-block d-md-none">
    <a href="https://stripe.com/ie" target="_blank" rel="noopener noreferrer" aria-label="Go to stripe">
        <img class="img-fluid float-right" src="{{ MEDIA_URL }}secure_payments.png" alt="secure payment strip" width="350" height="200">
    </a>
</p>