{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<section class="background-image">
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-7 col-md-6 my-auto">
                <h1 class="display-4 hero-font white">
                    We have a Tipple for Every Occasion!
                </h1>
                <div class="my-5">
                    <h4>
                        <a href="" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">View Drinks</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>

</section>
<section>
    
    <div class="row">
        <div class="col-12 text-center mt-3">
            <h2 class="diplay-1">Our Popluar Products</h2>
        </div>
    </div>
    <div class="row">
        <!-- First -->
        <div class="col-12 col-md-4 bg-brand-blue text-center pt-5 px-auto">
            <h2>Spirits</h2>
            <a href="" class="btn btn-outline-dark rounded-0 py-2 m-3 theme-btn">Shop Now</a>
            <div class="home-product">
                <img width="350" height="450" class="d-none d-lg-inline"
                    src="{{ MEDIA_URL }}truffle-milk-chocolate-nobg.webp" alt="Milk Chocolate Truffle Bites">
                <img width="250" height="350" class="d-lg-none" src="{{ MEDIA_URL }}truffle-milk-chocolate-nobg.webp"
                    alt="Milk Chocolate Truffle Bites">
            </div>
        </div>
        <!-- Second -->
        <div class="col-12 col-md-4 bg-brand-pink text-center pt-5 px-auto">
            <h2>Beer</h2>
            <a href="" class="btn btn-outline-dark rounded-0 py-2 m-3 theme-btn">Shop Now</a>
            <div class="home-product">
                <img width="350" height="450" class="d-none d-lg-inline"
                    src="{{ MEDIA_URL }}truffle-white-chocolate-strawberry-champagne-nobg.webp"
                    alt="White Chocolate Truffle Bites with Strawberry and Champagne">
                <img width="250" height="350" class="d-lg-none"
                    src="{{ MEDIA_URL }}truffle-white-chocolate-strawberry-champagne-nobg.webp"
                    alt="White Chocolate Truffle Bites with Strawberry and Champagne">
            </div>
        </div>
        <!-- Third -->
        <div class="col-12 col-md-4 bg-primary text-center pt-5 px-auto">
            <h2>Wine</h2>
            <a href="" class="btn btn-outline-dark rounded-0 py-2 m-3 theme-btn">Shop Now</a>
            <div class="home-product">
                <img width="350" height="450" class="d-none d-lg-inline"
                    src="{{ MEDIA_URL }}truffle-vegan-dark-chocolate-coffee-nobg.webp"
                    alt="Vegan Dark Chocolate Truffle Bites with Coffee">
                <img width="250" height="350" class="d-lg-none"
                    src="{{ MEDIA_URL }}truffle-vegan-dark-chocolate-coffee-nobg.webp"
                    alt="Vegan Dark Chocolate Truffle Bites with Coffee">
            </div>
        </div>
    </div>
</section>






{% endblock %}