{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<section class="background-image">
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-7 col-md-6 my-auto">
                <h1 class="display-4 hero-font">
                    We have a Drink for Every Occasion!
                </h1>
                <div class="my-5">
                    <h4>
                        <a href="{% url 'products' %}"
                            class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">Shop Now</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="row">
        <div class="col-12 text-center">
            <h2 class="diplay-1 bg-light py-1">Best Selling Drink Products</h2>
        </div>
    </div>
    <!-- Card group -->
    <div class="card-group">

        <!-- Card -->
        <div class="card mb-4">

            <!-- Card image -->
            <div class="view overlay">
                <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/49.webp"
                    alt="Card image cap">
            </div>

            <!-- Card content -->
            <div class="card-body text-center">

                <!-- Title -->
                <h4 class="card-title">Whiskey</h4>
                <!-- Text -->
                <p class="card-text">We stock some of worlds best whiskeys. Perfect for the whikey connoisseur.</p>
                <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                <a href="{% url 'products' %}?category=whiskey" class="btn btn-primary btn-md popular shop-now-button rounded-0 text-uppercase py-2" role="button">Shop Now</a>

            </div>
            <!-- Card content -->

        </div>
        <!-- Card -->

        <!-- Card -->
        <div class="card mb-4">

            <!-- Card image -->
            <div class="view overlay">
                <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/48.webp"
                    alt="Card image cap">
            </div>

            <!-- Card content -->
            <div class="card-body text-center">
                <!-- Title -->
                <h4 class="card-title">Gin</h4>
                <!-- Text -->
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>
                <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                <a href="{% url 'products' %}?category=gin" class="btn btn-primary btn-md popular shop-now-button rounded-0 text-uppercase py-2" role="button">Shop Now</a>

            </div>
            <!-- Card content -->

        </div>
        <!-- Card -->

        <!-- Card -->
        <div class="card mb-4">

            <!-- Card image -->
            <div class="view overlay">
                <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/77.webp"
                    alt="Card image cap">
            </div>

            <!-- Card content -->
            <div class="card-body text-center">

                <!-- Title -->
                <h4 class="card-title">Red Wine</h4>
                <!-- Text -->
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>
                <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                <a href="{% url 'products' %}?category=red_wine" class="btn btn-primary btn-md popular shop-now-button rounded-0 text-uppercase py-2" role="button">Shop Now</a>

            </div>
            <!-- Card content -->

        </div>
        <!-- Card -->
         <!-- Card -->
         <div class="card mb-4">

            <!-- Card image -->
            <div class="view overlay">
                <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/77.webp"
                    alt="Card image cap">
            </div>

            <!-- Card content -->
            <div class="card-body text-center">

                <!-- Title -->
                <h4 class="card-title">Larger</h4>
                <!-- Text -->
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>
                <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                <a href="{% url 'products' %}?category=larger" class="btn btn-primary btn-md popular shop-now-button rounded-0 text-uppercase py-2" role="button">Shop Now</a>

            </div>
            <!-- Card content -->

        </div>
        <!-- Card -->

    </div>
    <!-- Card group -->
</section>
<section>
        <!-- Intro section -->
        <div class="row align-items-center">
            <div class="col-12 col-md-6 p-5 order-lg-first">
                <h2 class="display-5">Welcome to Ireland's <br>Leading <span class="font-weight-bold">Online Drinks Store</span></h2>
                <p class="my-4">If chocolate is your guilty pleasure, why would you want to compromise on the taste and flavour? We have always prided ourselves on making extraordinary chocolate that tastes amazing. </p>
                <p class="my-4">We also know that there are major problems of poverty, slavery and child labour in some cocoa-producing countries and that we have a massive responsibility to ensure we don't turn a blind eye. Ethical cocoa sourcing has always been a core philosophy of ours.</p>
            </div>
            <div class="col-12 col-md-6 order-first d-flex justify-content-center">
                <img class="img-fluid" src="" alt="" width="700" height="450">
            </div>
        </div>
</section>

<section>
    <div class="row">
        <div class="col-12 text-center">
            <h2 class="diplay-1 bg-light py-1">Our Customers <i class="fas fa-heart heart-home"></i> Us</h2>
        </div>
    </div>
    <div class="container mt-1 mb-1">
        <div class="row g-2">
            <div class="col-md-4">
                <div class="card p-3 text-center px-4">
                    <div class="user-image">
                        <img src="https://i.imgur.com/PKHvlRS.jpg" class="rounded-circle" width="80">
                    </div>

                    <div class="user-content">
                        <h5 class="mb-0">John</h5>
                        <span>Delgany,Wicklow</span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>

                    <div class="ratings">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card p-3 text-center px-4">

                    <div class="user-image">
                        <img src="https://i.imgur.com/w2CKRB9.jpg" class="rounded-circle" width="80">
                    </div>
                    <div class="user-content">
                        <h5 class="mb-0">Mark Smith</h5>
                        <span>Web Developer</span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>

                    <div class="ratings">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>

                </div>
            </div>

            <div class="col-md-4">
                <div class="card p-3 text-center px-4">
                    <div class="user-image">
                        <img src="https://i.imgur.com/ACeArwY.jpg" class="rounded-circle" width="80">
                    </div>
                    <div class="user-content">
                        <h5 class="mb-0">Veera Duncan</h5>
                        <span>Software Architect</span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>

                    <div class="ratings">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}