{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<section class="background-image">
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-7 col-md-6 my-auto">
                <h1 class="display-4 hero-font">
                    We have a Tipple for Every Occasion!
                </h1>
                <div class="my-5">
                    <h4>
                        <a href="" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">View Drinks</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="row">
        <div class="col-12 text-center">
            <h2 class="diplay-1 bg-light py-1">Our Popluar Products</h2>
        </div>
    </div>
    <div class="row">
        <!-- First -->
        <div class="col-12 col-md-4 bg-brand-blue text-center pt-5 px-auto">
            <h2>Spirits</h2>
            <a href="" class="btn btn-outline-dark rounded-0 py-2 m-3 theme-btn">Shop Now</a>
            <div class="home-product">
                <img width="350" height="450" class="d-none d-lg-inline"
                    src="{{ MEDIA_URL }}truffle-milk-chocolate-nobg.webp" alt="Milk Chocolate Truffle Bites">
                <img width="250" height="350" class="d-lg-none" src="{{ MEDIA_URL }}truffle-milk-chocolate-nobg.webp"
                    alt="Milk Chocolate Truffle Bites">
            </div>
        </div>
        <!-- Second -->
        <div class="col-12 col-md-4 bg-brand-pink text-center pt-5 px-auto">
            <h2>Beer</h2>
            <a href="" class="btn btn-outline-dark rounded-0 py-2 m-3 theme-btn">Shop Now</a>
            <div class="home-product">
                <img width="350" height="450" class="d-none d-lg-inline"
                    src="{{ MEDIA_URL }}truffle-white-chocolate-strawberry-champagne-nobg.webp"
                    alt="White Chocolate Truffle Bites with Strawberry and Champagne">
                <img width="250" height="350" class="d-lg-none"
                    src="{{ MEDIA_URL }}truffle-white-chocolate-strawberry-champagne-nobg.webp"
                    alt="White Chocolate Truffle Bites with Strawberry and Champagne">
            </div>
        </div>
        <!-- Third -->
        <div class="col-12 col-md-4 bg-primary text-center pt-5 px-auto">
            <h2>Wine</h2>
            <a href="" class="btn btn-outline-dark rounded-0 py-2 m-3 theme-btn">Shop Now</a>
            <div class="home-product">
                <img width="350" height="450" class="d-none d-lg-inline"
                    src="{{ MEDIA_URL }}truffle-vegan-dark-chocolate-coffee-nobg.webp"
                    alt="Vegan Dark Chocolate Truffle Bites with Coffee">
                <img width="250" height="350" class="d-lg-none"
                    src="{{ MEDIA_URL }}truffle-vegan-dark-chocolate-coffee-nobg.webp"
                    alt="Vegan Dark Chocolate Truffle Bites with Coffee">
            </div>
        </div>
    </div>
</section>
<section>
    <div class="row">
        <div class="col-12 text-center">
            <h2 class="diplay-1 bg-light py-1">Our Customers <i class="fas fa-heart style=color:red"></i> Us</h2>
        </div>
    </div>
    <div class="container mt-1 mb-1">
        <div class="row g-2">
            <div class="col-md-4">
                <div class="card p-3 text-center px-4">

                    <div class="user-image">
                        <img src="https://i.imgur.com/PKHvlRS.jpg" class="rounded-circle" width="80">
                    </div>

                    <div class="user-content">

                        <h5 class="mb-0">Bruce Hardy</h5>
                        <span>Software Developer</span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>

                    <div class="ratings">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card p-3 text-center px-4">

                    <div class="user-image">
                        <img src="https://i.imgur.com/w2CKRB9.jpg" class="rounded-circle" width="80">
                    </div>
                    <div class="user-content">
                        <h5 class="mb-0">Mark Smith</h5>
                        <span>Web Developer</span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>

                    <div class="ratings">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>

                </div>
            </div>

            <div class="col-md-4">
                <div class="card p-3 text-center px-4">
                    <div class="user-image">
                        <img src="https://i.imgur.com/ACeArwY.jpg" class="rounded-circle" width="80">
                    </div>
                    <div class="user-content">
                        <h5 class="mb-0">Veera Duncan</h5>
                        <span>Software Architect</span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>

                    <div class="ratings">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}