/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Pacifico&display=swap');


html {
    height: 100%;
}

body {
    font-family: 'Lato', Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none !important;
    color:black;
}


.card:hover {
    transform: scale(1.015);
}

.card {
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}

.nav-hover{
    position: relative;
    text-decoration: none;
    letter-spacing: 0.5px;
    padding: 0 10px;
}
.nav-hover:after{
    content: "";
    position: absolute;
    background-color: green;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -2px;
    transition: 0.3s;
}
.nav-hover:hover{
    color: #ffffff;
}
.nav-hover:hover:after{
    width: 100%;
}


.background-image {
    background: url("/media/hero_edit.jpg") no-repeat center;
    height: 100vh;
    background-size: cover;
    color: white;
}


.logo-text{
    font-family: 'Pacifico', Arial, Helvetica, sans-serif;
}

.logo-text:hover{
    font-size: 34px;
}

.header-top{
    background: silver;
}

.van{
    color: #000;
}

.hero-font {
    font-family: 'Pacifico', Arial, Helvetica, sans-serif;
    line-height: 90px;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    color: white;
    letter-spacing: 4.5px;
}


/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    /* text-transform: uppercase; */
    font-family: 'Lato', Arial, Helvetica, sans-serif;
}

.main-logo-link {
    width: fit-content;
}

.shop-now-button {
    background:blue;
    color: white;
    min-width: 200px;
    border-radius: 20px;
    border: 1px solid white;
}

.btn-black {
    background: black;
    color: white;
}



.p-button{
    background:	#808080;
    color: black;
    text-transform: uppercase;
    border-radius: 2px;
}

.p-button:hover {
    background: green;
    color: white;
}

.btn-outline-black {
    background: white;
    color: black !important; /* use important to override link colors for <a> elements */
    border: 1px solid black;
}

.btn-outline-black:hover {
    background: yellow;
    color: white;
}

.keep-shopping{
    border-width: 1.5px;
}

.add-bag-btn{
    border-width: 1.5px;
    border-color: black;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: green;
    color: white;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

.bg-black {
    background: #000 !important;
}

a.category-badge > span.badge:hover {
    background: green !important;
    color: #fff !important;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}


/* -------------------------------- Testimionals */
.user-content p{
    margin-top:5px;
    font-size:12px;
}


.ratings i{
    color:gold;
}

/* -------------------------------- Footer */


.footer-body {
    background:whitesmoke;
    /* background: -webkit-linear-gradient(to right, #ff5f6d, #ffc371);
    background: linear-gradient(to right, #ff5f6d, #ffc371); */
}
  
/* #button-addon1 {
    color: #ffc371;
}
  
i {
    color: #ffc371;
}
   */
.form-control::placeholder {
    font-size: 0.95rem;
    color: #aaa;
    font-style: italic;
}
  
.form-control.shadow-0:focus {
    box-shadow: none;
}

.bag-i{
    padding-right: 10px;
}

.footer-bottom{
    background-color: silver;
}

/* ------------------------------- bootstrap toasts */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

.image-stripe{
    margin-right: 5px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
    .footer-body{
        margin-right: 6px;
    }
}

/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }

    body {
        height: calc(100vh - 116px);
    }

    .image-stripe{
        margin-left: 3px;
        margin: 0 auto;
    }

}
