{% extends 'base.html' %}
{% load static %}
{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}
{% block content %}
<div class="container d-flex flex-column min-vh-100">
    <div class="row justify-content-md-center">
        <div class="col-md-6 mt-4 text-center">
            <h2>400 Error</h2>
            <hr>
            <h4>Bad Request</h4>
            <br>
            <h3>Whoops! Something went wrong we are sorry we could not find this page.</h3>
            <br>
            <div class="my-5">
                <h4>
                    <a href="{% url 'products' %}" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">
                        Return to shop
                    </a>
                </h4>
            </div>
        </div>
    </div>
</div>
{% endblock %}