<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block d-md-none">
            <a class="contact-heading font-weight-bold nav-link text-black mr-5 nav-link nav-hover" href="{% url 'home' %}">Tasty Tipples</a>
        </li>
        <li class="nav-item d-block d-md-none">
            <a class="logo-font font-weight-bold nav-link text-black mr-5 nav-link nav-hover" href="{% url 'home' %}" id="home-link">Home</a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link nav-hover text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-hover nav-link text-black mr-5" href="#" id="spirits" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Spirits
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="spirits">
                <a href="{% url 'products' %}?category=whiskey" class="dropdown-item">Whiskey</a>
                <a href="{% url 'products' %}?category=gin" class="dropdown-item">Gin</a>
                <a href="{% url 'products' %}?category=vodka" class="dropdown-item">Vodka </a>
                <a href="{% url 'products' %}?category=rum" class="dropdown-item">Rum</a>
                <a href="{% url 'products' %}?category=whiskey,gin,vodka,rum" class="dropdown-item">All Spirits</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-hover nav-link text-black mr-5" href="#" id="beer" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Beer
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="beer">
                <a href="{% url 'products' %}?category=larger" class="dropdown-item">Larger</a>
                <a href="{% url 'products' %}?category=ales" class="dropdown-item">Ales</a>
                <a href="{% url 'products' %}?category=cider" class="dropdown-item">Cider</a>
                <a href="{% url 'products' %}?category=larger,ales,cider" class="dropdown-item">All Beers</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-hover nav-link text-black mr-5" href="#" id="wine" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Wine
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="wine">
                <a href="{% url 'products' %}?category=red_wine" class="dropdown-item">Red Wine</a>
                <a href="{% url 'products' %}?category=white_wine" class="dropdown-item">White Wine</a>
                <a href="{% url 'products' %}?category=rose" class="dropdown-item">Rose</a>
                <a href="{% url 'products' %}?category=red_wine,white_wine,rose" class="dropdown-item">All Wine</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-hover nav-link text-black" href="{% url 'blogview' %}">
                The Tipple Blog
            </a>
        </li>
    </ul>
</div>

