{% extends 'base.html' %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<section>
    <div class="container">
        <div class="row">
            <div class="col text-center mt-5 mb-3 pt-3">
                <h2> The Tipple Blog. </h2>
                <hr class="w-50 m-auto">
            </div>
        </div>
       
        <div class="row">
            <div class="col-md-8 mx-auto m-4">
                {% if posts %}
                    {% for post in posts %}
                        <div class="blog-card" class="card d-flex mt-4 flex-column flex-sm-row bg-one p-3 pt-4">
                            <div class="blog-list-container card-body d-flex flex-row">
                                {% if post.image %}
                                <img src="{{ post.image.url }}" alt="{{ post.title }}" class="blog-card-image">
                                {% else %}
                                <img src="{{ MEDIA_URL }}noimage.png" alt="{{ post.title }}" class="blog-card-image">
                                {% endif %}
                                <div class="blog-desc">
                                    <h2 class="card-title">{{ post.title }}</h2>
                                    <p class="card-text text-muted h6">{{ post.created_on}} </p>
                                    <p class="pt-3 card-text">{{ post.content|slice:":400"|safe }}</p>
                                </div>
                            </div>
                            <aside class="read-more align-self-end">
                                <a href="{% url 'blog_detail' post.slug  %}" class="btn btn-primary">Read Post</a>
                            </aside>
                        </div>
                    {% endfor %}
                    {% else %}
                    <p>No blog posts at the moment. Please check back later!</p>
                {% endif %}
            </div>
        </div>
        <hr class="mt-5">
    </div>
</section>

{% endblock %}