{% extends 'base.html' %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<section>
    <!-- Blog Post Detail-->
    <div class="container col-11 mt-1 mb-2">
        <div class="row d-flex flex-column text-center">
            <!-- Blog Post Detail Image-->
            <div class="col-10 mx-auto d-flex mb-2">
            {% if post.image %}
                <img src="{{ post.image.url }}" alt="{{ post.title }}" class="mx-auto blog-card card-img-top-blog" >
            {% else %}
                <img src="{{ MEDIA_URL }}noimage.png" alt="{{ post.title }}" class="mx-auto blog-card card-img-top-blog">
            {% endif %}
            </div>
            <!-- Blog Post Detail Text-->
            <div id="blog-detail-desc" class="col-10 mx-auto card card-body p-3">
                <h2>{{ post.title }}</h2>
                <p class=" text-muted">{{ post.created_on }}</p>
                <p class="card-text ">{{ post.content | safe }}</p>
                <p class="text-center">
                    <a href="{% url 'blogview'  %}" class="btn btn-primary">Back to Posts</a>
                </p>
            </div>    
        </div>
    </div>
</section>

{% endblock %}