{% extends 'base.html' %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<section>
    <div class="container">
        <div class="row">
            <div class="col text-center mt-5 mb-3 pt-3">
                <h2> The Tipple Blog </h2>
                <hr class="w-50 m-auto">
            </div>
        </div>

        <div class="row">

            <div class="mx-auto" >
                {% for post in posts %}
                    <div class="card m-5 g-0">
                        <div class="col text-center">
                            {% if post.image %}
                            <img src="{{ post.image.url }}" alt="{{ post.title }}" class="blog-card-image card-img-top-blog">
                            {% else %}
                            <img src="{{ MEDIA_URL }}noimage.png" alt="{{ post.title }}" class="blog-card-image card-img-top-blog">
                            {% endif %}
                        </div>
                        <div class="col">
                            <div class="card-body">
                                <h4 class="card-title">{{ post.title }}</h5>
                                <p class="card-text">{{ post.content|slice:":250"|safe }}</p>
                                <p class="card-text"><small class="text-muted">{{ post.created_on}}</small></p>
                            </div>
                            <p class="text-center">
                                <a href="{% url 'blog_detail' post.slug  %}" class="btn btn-primary">View Post</a>
                            </p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>

{% endblock %}