{% extends 'base.html' %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<section>
    <div class="container">
        <div class="row">
            <div class="col text-center mt-3 mb-2 pt-1">
                <h2 class="contact-heading mb-3"> The Tipple Blog </h2>
                <hr class="w-80 m-auto rule-home">
            </div>
        </div>
        <!-- Blog Post list display-->
        <div class="row">
            <div class="col-xl-8 m-4 mx-auto">
                {% for post in post_list %}
                    <div class="card m-3">
                        <div class="text-center">
                            <!-- Blog Post Image-->
                            {% if post.image %}
                            <img src="{{ post.image.url }}" alt="{{ post.title }}" class="blog-card-image card-img-top-blog img-fluid">
                            {% else %}
                            <img src="{{ MEDIA_URL }}noimage.png" alt="{{ post.title }}" class="blog-card-image card-img-top-blog img-fluid">
                            {% endif %}
                            <!-- Blog Post Text-->
                            <div class="card-body bg-light">
                                <h2 class="card-title">{{ post.title }}</h2>
                                <p class="card-text">
                                    <small class="text-muted">{{ post.created_on}}</small>
                                </p>
                                <hr class="rule-home w-80">
                                <p class="card-text">
                                    {{ post.content|slice:":350"|safe }}......
                                </p>
                                <hr class="rule-home w-80">
                                <p class="text-center pt-3">
                                    <a href="{% url 'blog_detail' post.slug  %}" class="btn btn-primary shop-now-button rounded-0 py-2">Read Post</a>
                                </p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <!-- pagination -->
        <div class="row justify-content-center">
            <div class="pagination text justify-content-center p-2" style="width: fit-content;">
                <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1" class="page-link" style="display: inline;">&laquo; first</a>
                    <a href="?page={{ page_obj.previous_page_number }}" class="page-link" style="display: inline;">previous</a>
                {% endif %}
            
                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}" class="page-link" style="display: inline;">next</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}" class="page-link" style="display: inline;">last &raquo;</a>
                {% endif %}
                </span>
            </div>
        </div>
    </div>
    <!-- Back to Top -->
    <div class="btt-button shadow-sm bg-white p-1 rounded-circle">
        <a class="btt-link d-flex h-100">
            <i class="fa-2x fas fa-arrow-circle-up back-to-top mx-auto my-auto"></i>
        </a>	
    </div>
</section>

{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script>
		$('.btt-link').click(function(e) {
			window.scrollTo(0,0)
		})
	</script>
{% endblock %}