{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<!-- Edit Review -->
<div class="overlay"></div>
<div class="container">
    <div class="row">
        <div class="col-12 col-md-6">
            <hr>
            <h2 class="logo-font mb-4">Update Your Review</h2>
            <hr>
        </div>
    </div>
    <!-- Edit Review form -->
    <div class="row">
        <div class="col-12 col-md-6">
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title text-justify font-weight-bold">For Product {{ product.name }}</h5>
                </div>
            </div>

            <form action="{% url 'edit_review' review.id %}" method="POST">
                {% csrf_token %}

                {{ review_form | crispy }}

                <div class="text-right">
                    <a href="{% url 'product_detail' review.product.id %}" class="btn btn-outline-dark">Cancel</a>
                    <button type="submit" class="btn btn-success link-btn ">Update Review</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}


