{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="overlay"></div>
<div class="container mt-5 pt-5">
    <div class="row">
        <div class="col mt-5 pt-5 mb-2">
            <h2 class="logo-font mb-4">Contact Us <i class="far fa-envelope"></i></h2>


        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-md-6">
            <p class="product-details text-muted"> Please fill out the form if you have any questions?</p>
            <form class="mt-3" action="{% url 'contact' %}" method="POST" id="contact_form">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="name" class="form-label">Name</label>
                    <input type="text" class="form-control" id="name" name="name" placeholder="Name" required>
                    <label for="subject" class="form-label">Subject</label>
                    <input type="text" class="form-control" id="subject" name="subject" placeholder="Subject" required>
                    <label for="email" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="email" name="email"
                        placeholder="tastytipples@example.com" required>
                </div>
                <div class="mb-3">
                    <label for="message" class="form-label">Your enquiry</label>
                    <textarea class="form-control" id="message" rows="3" name="message"
                        style="height:230px;"></textarea>
                </div>
                <button class="btn btn-primary text-uppercase basket-btn float-left mb-5">Send enquiry</button>
            </form class="mb-5">
        </div>
       
    </div>
</div>

{% endblock %}



